@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
$dark-purple: #4c2882;
$light-purple: #dcd0ff;
$gold: #fce570;
$brick-red: #aa4a44;

@mixin flexRow() {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

@mixin hoverGlowingEffect($color) {
  border-color: $color;
  box-shadow: 0 0 30px $color;
}

* {
  font-family: 'Roboto', sans-serif;
}

root {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  background-color: $dark-purple;
}

.tarot-card-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    height: 10rem;
  }

  .prompt-btn {
    border: 2px solid red;
    position: fixed;
    width: 6.5rem;
    bottom: calc(100vh - 75%);
    right: calc(50% - 3.25rem);
    cursor: pointer;
    z-index: 1;
  }
}

.choose-your-spread-dialog {
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  row-gap: 1rem;
  position: fixed;
  background-color: $light-purple;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  h2 {
    margin: 0rem;
    color: #fff;
  }

  div {
    @include flexRow();
    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
      border: none;
      transition: box-shadow 400ms ease-in;

      &:hover {
        @include hoverGlowingEffect($gold);
      }
    }
  }

  div {
    input {
      width: 22rem;
      height: 2.5rem;
      font-size: 1.5rem;
      border: none;
      background-color: $light-purple;
      border-bottom: 2px solid $dark-purple;
      &:focus {
        outline: none;
      }
    }
  }
}

.tooltip-content {
  border: 2px solid yellow;
  background-color: #fff;
  max-width: 20rem;
  padding: 0.5rem 1rem;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.tooltip-content[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideDownAndFade;
}

.question {
  position: fixed;
}

.three-card-spread {
  @include flexRow();
}

.tarot-card {
  transition: box-shadow 400ms ease-in;
  border-radius: 7px;

  &.normal {
    box-shadow: 0 0 10px $gold;
    &:hover {
      @include hoverGlowingEffect($gold);
    }
  }

  &.reversed {
    box-shadow: 0 0 10px $brick-red;
    &:hover {
      @include hoverGlowingEffect($brick-red);
    }
  }
}

.wheel-of-cards {
  @include flexRow();
  justify-content: center;
  align-items: center;
  //   border: 2px solid red;
  width: 10rem;
  height: 15rem;
  position: relative;

  img {
    position: absolute;
  }
}

.spread-container {
  position: fixed;
  width: 35rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    height: 15rem;
  }
}

.generated-prompt {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  backdrop-filter: blur(1px);
  background-color: rgba(3, 2, 1, 0.1);
  top: 0rem;
  .prompt-container {
    padding: 0.5rem 1rem;
    border: 2px solid lightblue;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    width: 30rem;
    position: relative;
    .prompt-close-btn {
      border: 2px solid green;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }

    div {
      ul {
        li {
          h3 {
            text-decoration: underline;
          }
          p {
            span {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
