@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

root {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  background-color: #4c2882;
}

.tarot-card-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tarot-card-container img {
  height: 10rem;
}
.tarot-card-container .prompt-btn {
  border: 2px solid red;
  position: fixed;
  width: 6.5rem;
  bottom: calc(100vh - 75%);
  right: calc(50% - 3.25rem);
  cursor: pointer;
  z-index: 1;
}

.choose-your-spread-dialog {
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  row-gap: 1rem;
  position: fixed;
  background-color: #dcd0ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.choose-your-spread-dialog h2 {
  margin: 0rem;
  color: #fff;
}
.choose-your-spread-dialog div {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.choose-your-spread-dialog div button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  transition: box-shadow 400ms ease-in;
}
.choose-your-spread-dialog div button:hover {
  border-color: #fce570;
  box-shadow: 0 0 30px #fce570;
}
.choose-your-spread-dialog div input {
  width: 22rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: #dcd0ff;
  border-bottom: 2px solid #4c2882;
}
.choose-your-spread-dialog div input:focus {
  outline: none;
}

.tooltip-content {
  border: 2px solid yellow;
  background-color: #fff;
  max-width: 20rem;
  padding: 0.5rem 1rem;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.tooltip-content[data-state=delayed-open][data-side=bottom] {
  animation-name: slideDownAndFade;
}

.question {
  position: fixed;
}

.three-card-spread {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.tarot-card {
  transition: box-shadow 400ms ease-in;
  border-radius: 7px;
}
.tarot-card.normal {
  box-shadow: 0 0 10px #fce570;
}
.tarot-card.normal:hover {
  border-color: #fce570;
  box-shadow: 0 0 30px #fce570;
}
.tarot-card.reversed {
  box-shadow: 0 0 10px #aa4a44;
}
.tarot-card.reversed:hover {
  border-color: #aa4a44;
  box-shadow: 0 0 30px #aa4a44;
}

.wheel-of-cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 15rem;
  position: relative;
}
.wheel-of-cards img {
  position: absolute;
}

.spread-container {
  position: fixed;
  width: 35rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spread-container img {
  position: absolute;
  height: 15rem;
}

.generated-prompt {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(3, 2, 1, 0.1);
  top: 0rem;
}
.generated-prompt .prompt-container {
  padding: 0.5rem 1rem;
  border: 2px solid lightblue;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 30rem;
  position: relative;
}
.generated-prompt .prompt-container .prompt-close-btn {
  border: 2px solid green;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.generated-prompt .prompt-container div ul li h3 {
  text-decoration: underline;
}
.generated-prompt .prompt-container div ul li p span {
  font-weight: 500;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */